body {
    font-family: 'Raleway'
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

#title {
    font-weight: 100;
}

#poetry-title {
    font-weight: 700;
    border-bottom: 0.02em dotted black;
}

button {
    background: none;
    border: 0.1em turquoise solid;
    padding: 0.6em;
    box-shadow: 1px 1px 1px 1px #aaa;
    border-radius: 1em;
    margin: 0.5em;
    transition: padding, color 300ms ease;
}

button:hover {
    background: turquoise;
    padding: 0.5em;
    color: white;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    width: 50vw;
    text-align: center;
    border: 1px solid hotpink;
}

.small {
    width: 11vw;
    border: none;
}

@media screen and (max-width:500px) {
    .container {
        min-height: 0vh;
    }
    button {
        padding: 0.7em;
    }
    .column {
        width: 90vw;
        min-height: 70vh;
        text-align: center;
        border: 1px solid hotpink;
    }

    .small {
        /* width: 1vw; */
        min-height:10vh;
        border: none;
    }

    .columns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}